/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
}

header {
  background-color: #3be8b0;
}

header,
section,
footer {
  padding: 20px;
}

h1,
h2,
figure,
footer p {
  text-align: center;
}

figure {
  padding-top: 10px;
}

table {
  margin: auto;
}

table, 
th,
td {
  border: 1px solid #000;
}

section > ul,
section ol {
  padding-left: 500px;
}

.expenses {
  background-color: #1aafd0;
}

.things {
  background-color: #6a67ce;
}

.useful {
  background-color: #ffb900;
}

footer {
  background-color: #fc636b;
}